<div class="entry-detail">
    <% if (errors.length > 0) { %>
		<div  class="error-message">
			<% errors.forEach(error => { %>
				<div>
					<%= t(error) %>
				</div>
			<% }) %>
		</div>
	<% } %>

  <form method="POST" action="/users/register">
	<input type="text" name="username" placeholder="<%= t("username") %>" required>
	<input type="password" name="password" placeholder="<%= t("password") %>" required>
	<input type="password" name="password_confirm" placeholder="<%= t("confirm_password") %>" required>
	<a href="/users/login"><%= t("login") %></a>
	<button type="submit"><%= t("register") %></button>
  </form>
</div>